.top-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(20px);
  .lifes {
    display: flex;
    gap: rem(4px);
    padding: rem(20px) 0;
    .life-item {
      width: rem(40px);
      aspect-ratio: 1/1;
      background: url("../images/heart-full.svg") no-repeat center;
      background-size: contain;
      &.loss {
        background-image: url("./images/heart-loss.svg");
      }
    }
  }

  .game-timer {
    text-align: center;
    font-size: rem(56px);
    text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.3);
  }
}

.game-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  .game-content-wrap {
    position: absolute;
    bottom: 0;
    left: -0;
    width: 100%;
  }
}

.rail-wrap {
  position: relative;
  top: 20px;
  height: 60vh;

  &::before {
    position: absolute;
    top: 20px;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }
  //내 캐릭터
  .my-character {
    position: absolute;
    bottom: 0;
    width: rem(150px);
    //height: 560px;
    aspect-ratio: 69/112;
    transition: all 0.2s ease-in-out;
    background-image: url("./images/myCharacter.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    &.hurt {
      background-image: url("./images/myCharacter-hurt.png");
    }
    &.move1 {
      background-image: url("./images/myCharacter-move1.png");
    }
    &.move2 {
      background-image: url("./images/myCharacter-move2.png");
    }
    &.jump {
      background-image: url("./images/myCharacter-jump.png");
    }
  }

  //장애물
  .obstacle {
    width: rem(100px);
    aspect-ratio: 1/1;
    background: green;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: moveObstacle 3s linear infinite;
    background: url("../images/obstacle.png") no-repeat center bottom;
    background-size: contain;
  }
}

@keyframes moveObstacle {
  from {
    right: -50px;
  }
  to {
    right: 100vw;
  }
}

//여기 무한 롤링배너처럼 계속 롤링되게 해야할까?
.floor {
  position: relative;
  bottom: rem(-10px);
  width: 100%;
  min-height: rem(200px);
  background: url("../images/floor.png") no-repeat;
  background-size: cover;
}
